In [35]:
import os
import sqlite3
import pandas as pd
import numpy as np
import regex as re
import seaborn as sns

In [46]:
# Ruta donde se encuentran los archivos de Excel
ruta = "C:/Users/jalarcon/OneDrive - GRUPO ASESORIA EN SISTEMATIZACIÓN DE DATOS SAS/Escritorio/Proyecto_Aplicado/Lotes"

# Lista de archivos en la carpeta
files = os.listdir(ruta)

# DataFrame vacío para almacenar los datos
df = pd.DataFrame()

# Lista de columnas que se esperan en los archivos Excel
columnas = [
    'ImportationId',
    'Apellidos',
    'CapitalIcetexAct',
    'IdSolicitante',
    'IDSolicitud',
    'Nombres',
    'NUMDIASMORA_ACT',
    'SALDO TOTAL',
    'SALDO MORA',
    'FECHAINICIO',
    'FECHA_FIN',
    'CAMPAÑA',
    'MOTOR_MARCACION',
    'MODO_MARCACION',
    'CALIFICACION_MARCADOR',
    'TELEFONO',
    'ID_Llamada',
    'AGENTE',
    'HOLD',
    'ABANDONED',
]

# Leer cada archivo de Excel en la carpeta
for Lotes in files:
    try:
        # Intentar leer el archivo de Excel
        df_lotes = pd.read_excel(os.path.join(ruta, Lotes), header=1)
        
        # Concatenar el DataFrame actual con el nuevo DataFrame leído
        df = pd.concat([df, df_lotes])

    except Exception as e:
        # Manejar errores al leer archivos y mostrar mensajes de error
        print(f"Error al leer el archivo {Lotes}: {e}")

# Eliminar duplicados por fila en el DataFrame resultante
df = df.drop_duplicates()

# Restablecer los índices después de eliminar duplicados
df.reset_index(drop=True, inplace=True)

# Obtener los primeros 10 datos del DataFrame
primeros_1000_datos = df.head(10)

# Imprimir los primeros 10 datos
print(primeros_1000_datos)

          ImportationId  Apellidos  CapitalIcetexAct  IdSolicitante
0  C_IN_15052023_5_30_1        NaN               NaN     1016072049  \
1  C_IN_15052023_5_30_1        NaN               NaN     1143456448
2  C_IN_15052023_5_30_1        NaN               NaN       31574297
3  C_IN_15052023_5_30_1        NaN               NaN     1007463034
4  C_IN_15052023_5_30_1        NaN               NaN       37752046
5  C_IN_15052023_5_30_1        NaN               NaN     1100967052
6  C_IN_15052023_5_30_1        NaN               NaN     1022441433
7  C_IN_15052023_5_30_1        NaN               NaN     1001287102
8  C_IN_15052023_5_30_1        NaN               NaN     1053827127
9  C_IN_15052023_5_30_1        NaN               NaN     1068929145

   IdSolicitud          Nombres  NUMDIASMORA_ACT  SALDO TOTAL  SALDO MORA
0          NaN      MARIA PAULA                9   7882437.47   512684.23  \
1          NaN     JOSE ANTONIO               24  12222362.06   202310.74
2          NaN           LORENA                9  12426191.97   968525.45
3          NaN   MARIA FERNANDA                9  53581878.10   310118.19
4          NaN  GLENIS BRIGITTE               24  13350482.71   270415.94
5          NaN  NICOLAS ALFONSO                9  21448752.15   510721.78
6          NaN   CARLOS ALBERTO                9  20503025.55   540132.25
7          NaN    MARIALEJANDRA                9  86660709.15   651597.77
8          NaN   ANGELA DANIELA                9  11043112.40   281270.27
9          NaN  HELVER GIOVANNY               24   9145486.50   284712.69

          FECHAINICIO  ... MOTOR_MARCACION MODO_MARCACION
0 2023-05-15 17:33:35  ...  DiscadorIcetex     Predictive  \
1 2023-05-15 17:32:52  ...  DiscadorIcetex     Predictive
2 2023-05-15 17:32:23  ...  DiscadorIcetex     Predictive
3 2023-05-15 17:31:49  ...  DiscadorIcetex     Predictive
4 2023-05-15 17:31:48  ...  DiscadorIcetex     Predictive
5 2023-05-15 17:31:28  ...  DiscadorIcetex     Predictive
6 2023-05-15 17:31:15  ...  DiscadorIcetex     Predictive
7 2023-05-15 17:30:51  ...  DiscadorIcetex     Predictive
8 2023-05-15 17:30:23  ...  DiscadorIcetex     Predictive
9 2023-05-15 17:30:09  ...  DiscadorIcetex     Predictive

  CALIFICACION_MARCADOR                 TELEFONO
0             ABANDONED  [57]-[301]-[2081628]-[]  \
1             CONNECTED  [57]-[300]-[7053414]-[]
2             ABANDONED  [57]-[315]-[6323581]-[]
3             ABANDONED  [57]-[310]-[8757551]-[]
4             ABANDONED  [57]-[301]-[4015999]-[]
5             CONNECTED  [57]-[319]-[3695941]-[]
6             ABANDONED  [57]-[312]-[5091473]-[]
7             CONNECTED  [57]-[312]-[4643965]-[]
8             ABANDONED  [57]-[317]-[6608912]-[]
9             CONNECTED  [57]-[301]-[4081231]-[]

                         ID_Llamada            AGENTE HOLD ABANDONED
0  B1879EA6434C4F9582CCE09C70A1E6C1      eder.arrieta  0.0       1.0  \
1  8208C4C8908D4357B49686FEB4A9FD99     netti.dajomes  0.0       0.0
2  A1A7DB8FF4D04394B6D9D41CBAB6635A      paula.rincon  0.0       1.0
3  C2CE515BFEDD4DE7B415B22BED4AFE56      paula.rincon  0.0       1.0
4  EC2F96814F3940F59A0E1BD827E60B30      paula.rincon  0.0       1.0
5  D089AB506CA94395A4D6CBBD7560FDC1  maicol.gutierrez  0.0       0.0
6  D54F278709B743E58200EF06D2602483  maicol.gutierrez  0.0       1.0
7  9C91E9523FFA4FA688E02552C8747AE1       luiz.vargas  0.0       0.0
8  631A5D6DD38E47C69B2468203B0234C9       luiz.vargas  0.0       1.0
9  07B633D9EB904D16B6EA87107F46C1FC     netti.dajomes  0.0       0.0

   IDSolicitud  FECHA_INICIO
0          NaN           NaT
1          NaN           NaT
2          NaN           NaT
3          NaN           NaT
4          NaN           NaT
5          NaN           NaT
6          NaN           NaT
7          NaN           NaT
8          NaN           NaT
9          NaN           NaT

[10 rows x 22 columns]

In [47]:
def entero(x):
    try:
        return int(float(x))
    except:
        return np.nan

In [48]:
df.columns

Index(['ImportationId', 'Apellidos', 'CapitalIcetexAct', 'IdSolicitante',
       'IdSolicitud', 'Nombres', 'NUMDIASMORA_ACT', 'SALDO TOTAL',
       'SALDO MORA', 'FECHAINICIO', 'FECHA_FIN', 'CAMPAÑA', 'MOTOR_MARCACION',
       'MODO_MARCACION', 'CALIFICACION_MARCADOR', 'TELEFONO', 'ID_Llamada',
       'AGENTE', 'HOLD', 'ABANDONED', 'IDSolicitud', 'FECHA_INICIO'],
      dtype='object')

In [49]:
df = df.drop(columns=["IDSolicitud"])

In [50]:
df.head(100)

,ImportationId,Apellidos,CapitalIcetexAct,IdSolicitante,IdSolicitud,Nombres,NUMDIASMORA_ACT,SALDO TOTAL,SALDO MORA,FECHAINICIO,...,CAMPAÑA,MOTOR_MARCACION,MODO_MARCACION,CALIFICACION_MARCADOR,TELEFONO,ID_Llamada,AGENTE,HOLD,ABANDONED,FECHA_INICIO
0,C_IN_15052023_5_30_1,NaN,NaN,1016072049,NaN,MARIA PAULA,9,7882437.47,512684.23,2023-05-15 17:33:35,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,ABANDONED,[57]-[301]-[2081628]-[],B1879EA6434C4F9582CCE09C70A1E6C1,eder.arrieta,0.0,1.0,NaT
1,C_IN_15052023_5_30_1,NaN,NaN,1143456448,NaN,JOSE ANTONIO,24,12222362.06,202310.74,2023-05-15 17:32:52,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[300]-[7053414]-[],8208C4C8908D4357B49686FEB4A9FD99,netti.dajomes,0.0,0.0,NaT
2,C_IN_15052023_5_30_1,NaN,NaN,31574297,NaN,LORENA,9,12426191.97,968525.45,2023-05-15 17:32:23,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,ABANDONED,[57]-[315]-[6323581]-[],A1A7DB8FF4D04394B6D9D41CBAB6635A,paula.rincon,0.0,1.0,NaT
3,C_IN_15052023_5_30_1,NaN,NaN,1007463034,NaN,MARIA FERNANDA,9,53581878.10,310118.19,2023-05-15 17:31:49,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,ABANDONED,[57]-[310]-[8757551]-[],C2CE515BFEDD4DE7B415B22BED4AFE56,paula.rincon,0.0,1.0,NaT
4,C_IN_15052023_5_30_1,NaN,NaN,37752046,NaN,GLENIS BRIGITTE,24,13350482.71,270415.94,2023-05-15 17:31:48,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,ABANDONED,[57]-[301]-[4015999]-[],EC2F96814F3940F59A0E1BD827E60B30,paula.rincon,0.0,1.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,C_IN_15052023_5_30_1,NaN,NaN,1000623899,NaN,NATALIA,9,15135072.94,483203.55,2023-05-15 17:13:49,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[312]-[5567917]-[],439246A7B56C4B398CA5995E18395BB6,luz.zapata,0.0,0.0,NaT
96,C_IN_15052023_5_30_1,NaN,NaN,28034179,NaN,MILTA LORENA,24,6039034.15,238166.81,2023-05-15 17:13:47,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[310]-[8723349]-[],7BDE409ACBD04543BEE40E8477B33176,obando.benavides,0.0,0.0,NaT
97,C_IN_15052023_5_30_1,NaN,NaN,1116549166,NaN,ERIKA TATIANA,9,10543946.11,277447.89,2023-05-15 17:13:44,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[312]-[6411183]-[],08FA673D53B848F1B12FC7F20E30D5D2,karen.enciso,0.0,0.0,NaT
98,C_IN_15052023_5_30_1,NaN,NaN,1088315075,NaN,CARLOS MARIO,9,9471732.25,248245.23,2023-05-15 17:13:14,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[311]-[6189804]-[],9867C6E4AB524B6E9D8AD91B1D4C6068,52636127,0.0,0.0,NaT
99,C_IN_15052023_5_30_1,NaN,NaN,1025322168,NaN,ALEJANDRA,9,15599542.67,213167.94,2023-05-15 17:13:09,...,ICETEXOUTBOUND,DiscadorIcetex,Predictive,CONNECTED,[57]-[310]-[8879493]-[],F34C650F01554C159612E7875ECDB4AB,eder.arrieta,0.0,0.0,NaT

In [52]:
df.drop_duplicates(subset=["FECHA_INICIO", "IdSolicitante"], inplace=True)
df["LIMPIEZA_CEL"] = df["TELEFONO"].apply(lambda x: "".join(re.findall("\d+", x)[1:]))
df["FECHA_INICIO"] = pd.to_datetime(df["FECHA_INICIO"], yearfirst=True)
df["FECHA_FIN"] = pd.to_datetime(df["FECHA_FIN"], yearfirst=True, format="mixed")
df["IdSolicitud"] = df["IdSolicitud"].apply(lambda x: entero(x))
df["IdSolicitante"] = df["IdSolicitante"].apply(lambda x: entero(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447239 entries, 0 to 609410
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ImportationId          447239 non-null  object
 1   Apellidos              0 non-null       float64
 2   CapitalIcetexAct       257963 non-null  float64
 3   IdSolicitante          447239 non-null  int64
 4   IdSolicitud            0 non-null       float64
 5   Nombres                447215 non-null  object
 6   NUMDIASMORA_ACT        447239 non-null  int64
 7   SALDO TOTAL            447239 non-null  float64
 8   SALDO MORA             447239 non-null  float64
 9   FECHAINICIO            12604 non-null   datetime64[ns]
 10  FECHA_FIN              49409 non-null   datetime64[ns]
 11  CAMPAÑA                391263 non-null  object
 12  MOTOR_MARCACION        391263 non-null  object
 13  MODO_MARCACION         447239 non-null  object
 14  CALIFICACION_MARCADOR  447239 non-null  object
 15  TELEFONO               447239 non-null  object
 16  ID_Llamada             447239 non-null  object
 17  AGENTE                 48762 non-null   object
 18  HOLD                   49409 non-null   float64
 19  ABANDONED              49409 non-null   float64
 20  FECHA_INICIO           378659 non-null  datetime64[ns]
 21  LIMPIEZA_CEL           447239 non-null  object
dtypes: datetime64[ns](3), float64(7), int64(2), object(10)
memory usage: 78.5+ MB

In [53]:
df.columns

Index(['ImportationId', 'Apellidos', 'CapitalIcetexAct', 'IdSolicitante',
       'IdSolicitud', 'Nombres', 'NUMDIASMORA_ACT', 'SALDO TOTAL',
       'SALDO MORA', 'FECHAINICIO', 'FECHA_FIN', 'CAMPAÑA', 'MOTOR_MARCACION',
       'MODO_MARCACION', 'CALIFICACION_MARCADOR', 'TELEFONO', 'ID_Llamada',
       'AGENTE', 'HOLD', 'ABANDONED', 'FECHA_INICIO', 'LIMPIEZA_CEL'],
      dtype='object')

In [54]:
con=sqlite3.connect("Lotes.db")

In [55]:
df.to_sql("Gestion_lotes",con,if_exists="replace",index=False)

447239

In [56]:
df.to_csv('C:/Users/jalarcon/OneDrive - GRUPO ASESORIA EN SISTEMATIZACIÓN DE DATOS SAS/Escritorio/Proyecto_Aplicado/Allegro_Lotes.csv', index=False,sep=";",encoding='iso-8859-1')

In [57]:
#lectura de la base de datos
df=pd.read_sql("SELECT * from Gestion_lotes",con)

In [59]:
df.head(10)

,ImportationId,Apellidos,CapitalIcetexAct,IdSolicitante,IdSolicitud,Nombres,NUMDIASMORA_ACT,SALDO TOTAL,SALDO MORA,FECHAINICIO,...,MOTOR_MARCACION,MODO_MARCACION,CALIFICACION_MARCADOR,TELEFONO,ID_Llamada,AGENTE,HOLD,ABANDONED,FECHA_INICIO,LIMPIEZA_CEL
0,C_IN_15052023_5_30_1,None,NaN,1016072049,None,MARIA PAULA,9,7882437.47,512684.23,2023-05-15 17:33:35,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[301]-[2081628]-[],B1879EA6434C4F9582CCE09C70A1E6C1,eder.arrieta,0.0,1.0,None,3012081628
1,C_IN_15052023_5_30_1,None,NaN,1143456448,None,JOSE ANTONIO,24,12222362.06,202310.74,2023-05-15 17:32:52,...,DiscadorIcetex,Predictive,CONNECTED,[57]-[300]-[7053414]-[],8208C4C8908D4357B49686FEB4A9FD99,netti.dajomes,0.0,0.0,None,3007053414
2,C_IN_15052023_5_30_1,None,NaN,31574297,None,LORENA,9,12426191.97,968525.45,2023-05-15 17:32:23,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[315]-[6323581]-[],A1A7DB8FF4D04394B6D9D41CBAB6635A,paula.rincon,0.0,1.0,None,3156323581
3,C_IN_15052023_5_30_1,None,NaN,1007463034,None,MARIA FERNANDA,9,53581878.10,310118.19,2023-05-15 17:31:49,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[310]-[8757551]-[],C2CE515BFEDD4DE7B415B22BED4AFE56,paula.rincon,0.0,1.0,None,3108757551
4,C_IN_15052023_5_30_1,None,NaN,37752046,None,GLENIS BRIGITTE,24,13350482.71,270415.94,2023-05-15 17:31:48,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[301]-[4015999]-[],EC2F96814F3940F59A0E1BD827E60B30,paula.rincon,0.0,1.0,None,3014015999
5,C_IN_15052023_5_30_1,None,NaN,1100967052,None,NICOLAS ALFONSO,9,21448752.15,510721.78,2023-05-15 17:31:28,...,DiscadorIcetex,Predictive,CONNECTED,[57]-[319]-[3695941]-[],D089AB506CA94395A4D6CBBD7560FDC1,maicol.gutierrez,0.0,0.0,None,3193695941
6,C_IN_15052023_5_30_1,None,NaN,1022441433,None,CARLOS ALBERTO,9,20503025.55,540132.25,2023-05-15 17:31:15,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[312]-[5091473]-[],D54F278709B743E58200EF06D2602483,maicol.gutierrez,0.0,1.0,None,3125091473
7,C_IN_15052023_5_30_1,None,NaN,1001287102,None,MARIALEJANDRA,9,86660709.15,651597.77,2023-05-15 17:30:51,...,DiscadorIcetex,Predictive,CONNECTED,[57]-[312]-[4643965]-[],9C91E9523FFA4FA688E02552C8747AE1,luiz.vargas,0.0,0.0,None,3124643965
8,C_IN_15052023_5_30_1,None,NaN,1053827127,None,ANGELA DANIELA,9,11043112.40,281270.27,2023-05-15 17:30:23,...,DiscadorIcetex,Predictive,ABANDONED,[57]-[317]-[6608912]-[],631A5D6DD38E47C69B2468203B0234C9,luiz.vargas,0.0,1.0,None,3176608912
9,C_IN_15052023_5_30_1,None,NaN,1068929145,None,HELVER GIOVANNY,24,9145486.50,284712.69,2023-05-15 17:30:09,...,DiscadorIcetex,Predictive,CONNECTED,[57]-[301]-[4081231]-[],07B633D9EB904D16B6EA87107F46C1FC,netti.dajomes,0.0,0.0,None,3014081231